<!DOCTYPE html>
		<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link href="index.css" rel="stylesheet">
			<title>Fifa World Cup</title>
		</head>
		<body>
<body>
	<div class="menu-container">
		<div class="menu-left">
			<nav>
				<a href="index.html"><div id="menu">Seleções Cadastradas</div></a>
				<a href="registerTeam.html"><div id="menu">Cadastro de Seleções</div></a>
				<a href="registerplayer.html"><div id="menu">Cadastro de Jogadores</div></a>
				<a href="updateteamplayer.html"><div id="menu">Alterar Seleções/Jogadores</div></a>
				<a href="deleteteamplayer"><div id="menu">Remover Seleções/Jogadores</div></a>
			</nav>
		</div>
		<div class="index">
			<div class="table" id="form">
				<form>
					<div class="nameTeam" >
						<label>Figurinha do Jogador:</label>
						<div id="spaceImage"></div>

						<button class="botton">Upload da Imagem</button>

					</div>
				<select class="selectTP" name="select">
				  <option value="valor1" selected>Selecione a Seleção do jogador</option>
				  <option value="valor2">Valor 2</option>
				  <option value="valor3">Valor 3</option>
				</select> 
						

					<div class="nameTeam">
						<label>Nome do Jogador:</label>
						<input type="text" id="name">
					</div>
					<div class="nameTeam">
						<label>Altura:</label>
						<input type="text" id="name">
					</div>
					<div class="nameTeam">
						<label>Clube:</label>
						<input type="text" id="name">
					</div>
					
						<button class="botton">Cadastrar jogador</button>
				</form>
			</div>
		</div>

</body>
</html>