<!DOCTYPE html>
		<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link href="index.css" rel="stylesheet">
			<title>Fifa World Cup</title>
		</head>
		<body>
<body>
	<div class="menu-container">
		<div class="menu-left">
			<nav>
				<a href="index.html"><div id="menu">Seleções Cadastradas</div></a>
				<a href="registerteam.html"><div id="menu">Cadastro de Seleções</div></a>
				<a href="registerplayer.html"><div id="menu">Cadastro de Jogadores</div></a>
				<a href="updateteamplayer.html"><div id="menu">Alterar Seleções/Jogadores</div></a>
				<a href=""><div id="menu">Remover Seleções/Jogadores</div></a>
			</nav>
		</div>
		<div class="index">
			<div class="updateTP-container">
				<select class="updateTP" name="select">
				  <option  selected>Selecione Seleção ou Jogador</option>
				  <option value="team">Seleção</option>
				  <option value="player">Jogador</option>
				</select>
			</div>	 
		</div>
	</div>

</body>
</html>