<!DOCTYPE html>
		<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link href="index.css" rel="stylesheet">
			<title>Fifa World Cup</title>
		</head>
		<body>
<body>
	<div class="menu-container">
		<div class="menu-left">
			<nav>
				<a href="index.html"><div id="menu">Seleções Cadastradas</div></a>
				<a href="registerteam.html"><div id="menu">Cadastro de Seleções</div></a>
				<a href="registerplayer.html"><div id="menu">Cadastro de Jogadores</div></a>
				<a href=""><div id="menu">Alterar Seleções</div></a>
				<a href=""><div id="menu">Remover Seleções</div></a>
			</nav>
		</div>
		<div class="index">
			<div class="table">
				<div class="top">
					<div class="first">Seleção</div>
					<div class="second">Números de jogadores</div>
				</div>
				<div class="registered">
					<div class="first">Brasil</div>
					<div class="second">23</div>
				</div>
				<div class="registered">
					<div class="first">Brasil</div>
					<div class="second">23</div>
				</div>
				<div class="registered">
					<div class="first">Brasil</div>
					<div class="second">23</div>
				</div>
				<div class="registered">
					<div class="first">Brasil</div>
					<div class="second">23</div>
				</div>
				<div class="registered">
					<div class="first">Brasil</div>
					<div class="second">23</div>
				</div>
				<div class="registered">
					<div class="first">Brasil</div>
					<div class="second">23</div>
				</div>
				<div class="registered">
					<div class="first">Brasil</div>
					<div class="second">23</div>
				</div>

			</div>
		</div>
	</div>

</body>
</html>