<!DOCTYPE html>
		<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link href="index.css" rel="stylesheet">
			<title>Fifa World Cup</title>
		</head>
		<body>
<body>
	<div class="menu-container">
		<div class="menu-left">
			<nav>
				<a href="index.html"><div id="menu">Seleções Cadastradas</div></a>
				<a href="registerTeam.html"><div id="menu">Cadastro de Seleções</div></a>
				<a href="registerplayer.html"><div id="menu">Cadastro de Jogadores</div></a>
				<a href="updateteamplayer.html"><div id="menu">Alterar Seleções/Jogadores</div></a>
				<a href=""><div id="menu">Remover Seleções/Jogadores</div></a>
			</nav>
		</div>
		<div class="index">
			<div class="table">
				<form>
					<div class="nameTeam">
						<label>Nome da Seleção:</label>
						<input type="text" id="name">
					</div>
					<div class="color">
						<p>Cores da Seleção</p>
						<div class="firstColor">
							<span>1° Cor</span>
							<input type="color" id="color" name="TeamColor" list="teamColor" value="#FF0000">
							<datalist id="arcoIris">
							<option value="#FF0000">Vermelho</option>
							<option value="#FFA500">Laranja</option>
							<option value="#FFFF00">Amarelo</option>
							<option value="#008000">Verde</option>
							<option value="#0000FF">Azul</option>
							<option value="#4B0082">Indigo</option>
							<option value="#EE82EE">Violeta</option>
							</datalist>
						</div>
						<div class="secColor">
							<span>2° Cor</span>
							<input type="color" id="color" name="TeamColor" list="teamColor" value="#0000FF">
							<datalist id="arcoIris">
							<option value="#FFA500">Laranja</option>
							<option value="#FF0000">Vermelho</option>
							<option value="#FFFF00">Amarelo</option>
							<option value="#008000">Verde</option>
							<option value="#0000FF">Azul</option>
							<option value="#4B0082">Indigo</option>
							<option value="#EE82EE">Violeta</option>
							</datalist>
						</div>
					</div>
				</form>
			</div>
		</div>

</body>
</html>