<!DOCTYPE html>
		<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link href="admin/index.css" rel="stylesheet">
			<title>Fifa World Cup</title>
		</head>
		<body>
<body>
	<div class="menu-container">
		<div class="menu-left">
			<nav>
				<a href=""><div id="menu">Index</div></a>
				<a href=""><div id="menu">Cadastro de Seleções</div></a>
				<a href=""><div id="menu">Seleções Cadastradas</div></a>
				<a href=""><div id="menu">Alterar Seleções</div></a>
				<a href=""><div id="menu">Remover Seleções</div></a>
			</nav>
		</div>
	</div>
</body>
</html>