<!DOCTYPE html>
		<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link href="style.css" rel="stylesheet">
			<title></title>
		</head>
		<body>
			<nav>
				<div id="divBusca">
				  <input type="text" id="txtBusca" placeholder="Digite o nome do pais"/>
				</div>
				<div id="fifa">fifa world cup</div>
			</nav>
			<div class="container-top">
				<div class="left">
					<div class="group">
						<div class="match">
							<p class="nameCountry1">Brasil</p>	
							<p class="nameCountry">Argentinha</p>
						</div>
						
						<div class="match">
							<p class ="nameCountry1">Brasil</p>	
							<p class="nameCountry">Uruguai</p>
						</div>
						
						<div class="match">
							<div class="nameCountry1">Brasil</div>	
							<div class="nameCountry">Mexico</div>
						</div>			
					</div>

					<div class="flag">
						<p>Flag Image</p>
					</div>
				</div>

				<div class="right">
					<div class="player">
						<div class="image">Image Player</div>
						<div class="dataPlayer">
							<p>Name:</p>
							<p>Height:</p>
							<p>Club:</p>
						</div>
					</div>
					<div class="player">
						<div class="image">Image Player</div>
						<div class="dataPlayer">
							<p>Name:</p>
							<p>Height:</p>
							<p>Club:</p>
						</div>
					</div>
					<div class="player">
						<div class="image">Image Player</div>
						<div class="dataPlayer">
							<p>Name:</p>
							<p>Height:</p>
							<p>Club:</p>
						</div>
					</div>
				</div>
				</div>
			<div class="container-mid">
				<div class="player">
					<div class="image">Image Player</div>
					<div class="dataPlayer">
						<p>Name:</p>
						<p>Height:</p>
						<p>Club:</p>
					</div>
				</div>
				<div class="player">
					<div class="image">Image Player</div>
					<div class="dataPlayer">
						<p>Name:</p>
						<p>Height:</p>
						<p>Club:</p>
					</div>
				</div>
				<div class="player">
					<div class="image">Image Player</div>
					<div class="dataPlayer">
						<p>Name:</p>
						<p>Height:</p>
						<p>Club:</p>
					</div>
				</div>
				<div class="player">
					<div class="image">Image Player</div>
					<div class="dataPlayer">
						<p>Name:</p>
						<p>Height:</p>
						<p>Club:</p>
					</div>
				</div>
				<div class="player">
					<div class="image">Image Player</div>
					<div class="dataPlayer">
						<p>Name:</p>
						<p>Height:</p>
						<p>Club:</p>
					</div>
				</div>
				<div class="player">
					<div class="image">Image Player</div>
					<div class="dataPlayer">
						<p>Name:</p>
						<p>Height:</p>
						<p>Club:</p>
					</div>
				</div>
			</div>
			<div class="container-mid">
				<div class="player">
					<div class="image">Image Player</div>
					<div class="dataPlayer">
						<p>Name:</p>
						<p>Height:</p>
						<p>Club:</p>
					</div>
				</div>
				<div class="player">
					<div class="image">Image Player</div>
					<div class="dataPlayer">
						<p>Name:</p>
						<p>Height:</p>
						<p>Club:</p>
					</div>
				</div>
				<div class="player">
					<div class="image">Image Player</div>
					<div class="dataPlayer">
						<p>Name:</p>
						<p>Height:</p>
						<p>Club:</p>
					</div>
				</div>
				<div class="player">
					<div class="image">Image Player</div>
					<div class="dataPlayer">
						<p>Name:</p>
						<p>Height:</p>
						<p>Club:</p>
					</div>
				</div>
				<div class="player">
					<div class="image">Image Player</div>
					<div class="dataPlayer">
						<p>Name:</p>
						<p>Height:</p>
						<p>Club:</p>
					</div>
				</div>
				<div class="player">
					<div class="image">Image Player</div>
					<div class="dataPlayer">
						<p>Name:</p>
						<p>Height:</p>
						<p>Club:</p>
					</div>
				</div>
			</div>
		</body>
		</html>		